* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.headerBackground {
  min-height: 100vh;
  justify-content: center;
  /* background-image: url("../images/office.jpg"); */
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 21px;
  position: relative;
}

.nav-links ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  font-size: large;
  font-weight: 500;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #000000;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.textBox {
  width: 40%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textBox h1 {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 15px;
}

.textBox p {
  font-size: 15px;
  font-weight: lighter;
}

nav .fa {
  display: none;
}

.engineeringImpact {
  width: 80%;
  margin-right: 0;
  padding-left: 150px;
  padding-top: 150px;
  display: flex;
  justify-content: space-evenly;
}

.engineeringImpact img {
  width: 50%;
  border-radius: 10%;
}

.engineeringLeft {
  padding-top: 100px;
  width: 45%;
}

.engineeringLeft h1 {
  font-size: 23px;
  font-weight: 600;
}

.engineeringLeft p {
  font-size: small;
  padding-top: 15px;
  padding-right: 100px;
}

.leadership {
  padding-top: 70px;
}

.leadersImages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ceoImage {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  margin: 13px;
}

.imgSlider {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.peopleImg {
  height: 500px;
  width: 700px;
  border-radius: 10%;
  margin: 16px;
}

.ourPeople h1 {
  padding: 150px 0px 30px 300px;
  font-weight: 600;
  font-size: 35px;
}

.footerUpper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 150px;
}

.leftText {
  padding-left: 90px;
  flex: 1;
}

.footer {
  height: 60vh;
  background: #000000;
  color: #fff;
  margin-top: 80px;
}

.special {
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contactUs nav {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
}

.navLinksFooter ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navLinksFooter li {
  margin-left: 0;
}

.footerRight {
  height: 70%;
}

.footerLeft {
  height: 70%;
}

.rightBottom {
  color: rgb(211, 211, 211);
}

hr {
  border: none;
  height: 1px;
  background: #fff;
  background: rgb(241, 241, 241);
}

button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
